---
interface Props {
  width?: string;
}
const { width = "min(24em, calc(100% - 4em))" } = Astro.props;
---

<div class="separator">
  <div class="separator-dot"></div>
  <div class="separator-dot"></div>
</div>

<style define:vars={{ width }}>
  .separator {
    border: none;
    border-top: 2px solid var(--color-primary);
    position: relative;
    width: var(--width);
    margin: 1em auto;
    box-sizing: content-box;

    --dot-size: 8px;
  }

  .separator .separator-dot {
    content: "";
    display: block;
    height: var(--dot-size);
    width: var(--dot-size);
    background-color: var(--color-primary);
    position: absolute;
    top: calc(-1px - var(--dot-size) / 2);
    border-radius: 50%;
    z-index: 1;
  }

  .separator .separator-dot:first-child {
    left: 0;
  }

  .separator .separator-dot:last-child {
    right: 0;
  }
</style>
