---
import Button from "../components/Button.astro";
import ButtonOcta from "../components/ButtonOcta.astro";
import Hero2Col from "../components/Hero2Col.astro";
import RotatingLogo from "../components/RotatingLogo.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Hero2Col>
    <div slot="left" id="hero-left">
      <h2 id="hero-text">
        Plonge dans l'aventure avec la mission <span id="accent">Hydra</span>
      </h2>
      <ButtonOcta>Hello</ButtonOcta>
    </div>
    <div slot="right"></div>
  </Hero2Col>
</Layout>

<style>
  #accent {
    color: var(--color-primary);
    text-transform: uppercase;
    font-family: var(--font-family-title);
    font-size: 1.2em;
  }

  #hero-text {
    font-size: 3em;
    text-align: left;
    margin: 0;
    padding: 1em;
    font-family: var(--font-family-text);
  }

  #hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
</style>
