---
import Layout from "../layouts/Layout.astro";
import events from "../campagne";
import ParagraphePlanning from "../layouts/boxes/ParagraphePlanning.vue";
import Button from "../components/Button.astro";
---

<Layout title="La mission">
  <h1>
    Découvrez le planning de la<br /><span class="accent"
      >semaine de campagne</span
    >
  </h1>
  <div id="clip-campagne">
    <!--     <Button href="/clip_campagne" width="fit-content"
      >Voir le clip de campagne</Button>-->
  </div>
  {events.map((event) => <ParagraphePlanning event={event} client:load />)}
</Layout>
<style>
  h1 {
    font-family: var(--font-family-text);
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }
  .accent {
    color: var(--color-primary);
    font-family: var(--font-family-title);
    font-size: 1.3em;
  }

  #clip-campagne {
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
  }
</style>
