---
import Lore from "../components/boxes/Lore.astro";
import Button from "../components/Button.astro";
import Hero2Col from "../components/Hero2Col.astro";
import RotatingLogo from "../components/RotatingLogo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Liste BDE TMSP 2025">
  <Hero2Col>
    <div slot="left" id="hero-left">
      <h2 id="hero-text">
        Plonge dans l'aventure avec la mission <span id="accent">Hydra</span>
      </h2>
      <div class="button-grid">
        <Button href="/organigramme">L'équipage</Button>
        <Button href="#lore">Immersion</Button>
        <Button>La mission</Button>
        <Button>Contact</Button>
      </div>
    </div>
    <RotatingLogo slot="right" />
  </Hero2Col>
  <h2 id="lore">Le Lore</h2>
  <Lore>
    <div slot="top">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos voluptatibus
      id tempore? Vero velit dolorem ullam deserunt similique ratione doloribus
      consectetur magnam, vitae amet facere. Debitis labore soluta ipsa maxime?
    </div>
    <div slot="left">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos voluptatibus
      id tempore? Vero velit dolorem ullam deserunt similique ratione doloribus
      consectetur magnam, vitae amet facere. Debitis labore soluta ipsa maxime?
    </div>
    <div slot="right">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos voluptatibus
      id tempore? Vero velit dolorem ullam deserunt similique ratione doloribus
      consectetur magnam, vitae amet facere. Debitis labore soluta ipsa maxime?
    </div>
  </Lore>

  <style>
    #accent {
      color: var(--color-primary);
      text-transform: uppercase;
      font-family: var(--font-family-title);
      font-size: 1.2em;
    }

    #hero-text {
      font-size: 3em;
      text-align: left;
      margin: 0;
      font-family: var(--font-family-text);
    }

    #hero-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 3em;
    }

    .button-grid {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1em 2em;
      margin-top: 1em;
    }

    @media screen and (max-width: 768px) {
      #hero-left {
        padding: 1em;
      }
      #hero-text {
        font-size: 2em;
      }

      .button-grid {
        grid-template-columns: 1fr;
      }
    }

    #lore {
      text-align: center;
      margin-top: 3em;
      font-family: var(--font-family-title);
      font-size: 4em;
    }
  </style>
</Layout>
