---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Petit Déjeuner">
  <div id="container">
    <h2>Petits Déjeuners</h2>
    <p>
      Les commandes de petits déjeuners sont fermées, en attendant vous pouvez
      visioner notre <a href="https://youtu.be/D-kjCbLjEO0"
        >clip de campagne sur Youtube</a>
    </p>
  </div>
</Layout>
