---
import Layout from "../layouts/Layout.astro";
---

<Layout title="La mission">
  <h1>Le <span class="accent">programme</span></h1>

  <div class="paragraphe">
    <h3>Les cours et les Pougnes</h3>
    <ul>
      <li>
        Revoir l'accès et le format des pougnes. Le site sera une database à
        jour avec un système de recherche avancée, catégorisant les pougnes des
        années précédentes ;
      </li>
      <li>Des pougnes pour les bachelors.</li>
    </ul>
  </div>
  <div class="paragraphe">
    <h3>La sécurité</h3>
    <ul>
      <li>
        Mise en place d'un système de covoiturage entre le foyer et le bâtiment
        U6 la nuit ;
      </li>
      <li>
        Une communication interactive avec un calendrier des événements revu
        (test sur le site Web de liste).
      </li>
    </ul>
  </div>
  <div class="paragraphe">
    <h3>La vie associative le week-end</h3>
    <ul>
      <li>
        Faire revivre les week-ends. Plusieurs points sont à prendre en compte :
        <ul>
          <li>
            Des événements la journée proposé par le BDE en fonction des sorties
            RA du BDA et des week-end asso,
          </li>
          <li>
            Des repas associatifs (car le ritz ne fonctionne pas le week-end, ce
            qui peut isoler certains individus),
          </li>
          <li>
            Des événements le soir en partenariat avec bpm et absinthe dans le
            style animation bpm-absinthe-bde qui dynamisera le campus tous les
            week-end.
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="paragraphe">
    <h3>Propreté du foyer</h3>
    <ul>
      <li>
        Veiller au respect du calendrier de nettoyage du foyer et d'entretien
        des poubelles et révision complète de ces derniers (il faudra dans tous
        les cas les réaménager après la rénovation du foyer).
      </li>
    </ul>
  </div>
  <div class="paragraphe">
    <h3>Soirées</h3>
    <ul>
      <li>
        Travail sur la communication extérieure pour attirer plus de monde aux
        soirées (notamment palaiseau).
      </li>
    </ul>
  </div>
  <div class="paragraphe">
    <h3>Moyen de financements étudiant</h3>
    <ul>
      <li>Mises en places de groupes d'intérims ;</li>
      <li>
        Proposer un tableau d’affichage dédié aux offres d’emplois ou de
        services étudiants (baby-sitting, tutorat, graphisme, etc.) ;
      </li>
      <li>Démarchage d'associations pour les étudiants les plus démunis.</li>
    </ul>
  </div>
  <div class="paragraphe">
    <h3>L'inclusion</h3>
    <ul>
      <li>
        Faire en sorte d'inclure plus les PGE et Bachelors IMT BS dans la vie
        associative, avec plus d'interventions et plus de communication au
        travers de l'école.
      </li>
    </ul>
  </div>
  <div class="paragraphe">
    <h3>La gestion des VSS</h3>
    <ul>
      <li>
        Campagne de sensibilisation sous forme de courtes vidéos sur des
        situations de VSS avec des élèves associatifs ;
      </li>
      <li>
        Sur le futur site du BDE une page ressources VSS, contenant des guides
        ou contacts d'experts en cas de besoin ;
      </li>
      <li>
        Code couleur soirées - des bracelets fluorescents seront distribués à
        l'entrée de chaque soirée (a priori du bde mais peut évoluer si les
        futur/es président/es in&act et equality décident de récupérer l'idée)
        avec un code couleur :
        <ul>
          <li>
            Rouge : personne qui ne veut pas être dérangée pendant la soirée,
            veut simplement s'amuser avec ses amis,
          </li>
          <li>
            Orange : personne ouverte à la discussion que si elle l'engage, mais
            ne souhaite pas forcément sociabiliser,
          </li>
          <li>Vert : personne ouverte aux nouvelles rencontres.</li>
        </ul>
      </li>
    </ul>
  </div>
</Layout>

<style>
  h1 {
    font-family: var(--font-family-text);
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .accent {
    clior: var(--clior-primary);
    font-family: var(--font-family-title);
  }
  .paragraphe {
    border: solid;
    border-color: var(--color-primary);
    margin: 1rem;
  }
  li::marker {
    color: var(--color-primary);
  }
</style>
