---
import ParagrapheProgramme from "../layouts/boxes/ParagrapheProgramme.vue";
import Layout from "../layouts/Layout.astro";
import programmeComplet from "../programme";
---

<Layout title="La mission">
  <h1>Programme BDE<br /><span class="accent">HYDRA</span></h1>

  {
    programmeComplet.map((paragraph) => (
      <ParagrapheProgramme paragraph={paragraph} client:load />
    ))
  }
</Layout>
<style>
  h1 {
    font-family: var(--font-family-text);
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .accent {
    color: var(--color-primary);
    font-family: var(--font-family-title);
    font-size: 1.3em;
  }
</style>
