---
import facebook from "../assets/socials/facebook.svg?raw";
import instagram from "../assets/socials/instagram.svg?raw";
import youtube from "../assets/socials/youtube.svg?raw";
---

<footer>
  <h1 class="title">hydra</h1>
  <div>Copyright © 2024</div>
  <div class="separator"></div>
  <p>
    Réalisé par : <span id="alexis">Alexis ROSSFELDER</span> & <span id="nathan"
      >Nathan BEAUCHOUX</span
    >
  </p>
  <div class="socials">
    <a
      class="social"
      href="https://www.facebook.com/profile.php?id=61568342853940&locale=fr_FR"
    >
      <Fragment set:html={facebook} />
    </a>
    <a class="social" href="https://www.instagram.com/hydra_liste2025/">
      <Fragment set:html={instagram} />
    </a>
    <a class="social" href="https://www.youtube.com/@HydraTMSP-2025">
      <Fragment set:html={youtube} />
    </a>
  </div>
</footer>

<style>
  footer {
    margin-top: 2rem;
    background-color: var(--color-background);
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 2em 3em 2em 3em;
    box-sizing: border-box;
    border-top: 3px solid var(--color-primary);
  }
  .title {
    font-family: var(--font-family-title);
    text-transform: uppercase;
    font-size: 2rem;
    transition: color 0.3s ease;
    cursor: default;
  }

  .title:hover {
    color: var(--color-primary);
  }
  .separator {
    flex-grow: 1;
  }
  .socials {
    display: flex;
    gap: 0.5em;
    align-items: center;
  }
  .social {
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: transform 0.3s ease;
    color: var(--color-primary);
  }
  .social:hover {
    transform: scale(1.2);
  }

  @media screen and (max-width: 768px) {
    footer {
      padding: 0 1em 2em 1em;
      flex-direction: column;
      gap: 0.5em;
    }

    .title {
      font-size: 3rem;
      margin-bottom: 0;
    }

    p {
      text-align: center;
    }
    #alexis,
    #nathan {
      display: block;
      text-align: center;
    }
  }
</style>
