---
import Header from "../components/Header.astro";
import "../style/TTMusselsStencilTrl.astro";

import "@fontsource-variable/open-sans";

import computed_colors from "../style/Colors.ts";
import Background from "../layouts/Background.astro";

import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- IE -->
    <link rel="shortcut icon" type="image/x-icon" href="/icons/favicon.ico" />
    <!-- other browsers -->
    <link rel="icon" type="image/x-icon" href="/icons/favicon.ico" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon" href="/icons/logo-180.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Hydra" />
    <meta
      name="description"
      content="HYDRA - Site de la liste BDE Hydra à TMSP en 2025"
    />
    <meta
      name="keywords"
      content="TMSP, BDE, Hydra, 2025, TSP, IMTBS, campagne, informations, date"
    />

    <link
      rel="preload"
      href="/font/6939528f6b9616b11b92dcecd97d8ec8.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/font/21414351ee80e7ef082ef5aadd47509b.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/font/2e5d8ad1da71955a98f0cff56bc73971.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />

    <title>Hydra - {title}</title>
  </head>
  <body>
    <Background />
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style define:vars={computed_colors}>
  :root {
    --side-gap: 10rem;
    --header-height: 10rem;

    --font-family-title: "TT Mussels Stencil Trl", sans-serif;
    --font-family-text: "Open Sans Variable", sans-serif;

    color: var(--color-text);
    background: var(--color-background);
    font-family: var(--font-family-text);
  }
  ::selection {
    background: var(--color-primary);
    color: var(--color-on-primary);
  }

  main {
    min-height: calc(100vh - var(--header-height));
  }
</style>
<style is:global>
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-family-title);
    font-weight: bolder;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
